<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create New Article</title>
 </head>
 <body>
   <h1>Create A New Article!</h1>

    <form method="POST" action="/articles">
      <p>Article Title: <input type="text" name="title"></p>
      <textarea name="content"></textarea>
      <input type="submit" value="Submit">
    </form>
 </body>
</html>
