<!DOCTYPE html>
<html>
<body>

<form action="/articles" method="POST">
  Title:<br>
  <input type="text" name="title"><br>
  Content:<br>
  <input type="text" name="content">
<br>
  <input type="submit">
</form>

</body>
</html>
