<h2><%= @instance.title %></h2>
<p><%= @instance.content %></p>

<form action="/articles/<%= @instance.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
